<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">상품 등록</title>
</head>
<body>

<div layout:fragment="content">

    <div class="container mt-5">
        <h2>상품 등록</h2>
        <form th:action="@{/item/new}" th:object="${itemSaveRequestDto}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <!-- 상품 이름 -->
            <div class="form-group">
                <label for="itemName">상품 이름</label>
                <input type="text" th:field="*{itemName}" class="form-control" id="itemName" placeholder="상품 이름을 입력하세요">
            </div>

            <!-- 상품 설명 -->
            <div class="form-group">
                <label for="description">상품 설명</label>
                <textarea th:field="*{description}" class="form-control" id="description" rows="3" placeholder="상품 설명을 입력하세요"></textarea>
            </div>

            <!-- 상품 가격 -->
            <div class="form-group">
                <label for="price">가격</label>
                <input type="number" th:field="*{price}" class="form-control" id="price" placeholder="가격을 입력하세요">
            </div>

            <!-- 상품 수량 -->
            <div class="form-group">
                <label for="stockQuantity">수량</label>
                <input type="number" th:field="*{stockQuantity}" class="form-control" id="stockQuantity" placeholder="수량을 입력하세요">
            </div>

            <!-- 제출 버튼 -->
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>

</div>

</body>
</html>