<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 상세 정보</title>
</head>
<body>

<div layout:fragment="content" class="container mt-5">
    <h2 class="mb-4">주문 상세 정보</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">주문 번호: <span th:text="${order.orderId}"></span></h5>
            <p class="card-text">주문 날짜: <span th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}"></span></p>
            <p class="card-text">주문 상태: <span th:text="${order.orderStatus}"></span></p>

            <!-- 배송지 정보 -->
            <h6 class="mt-4">배송지 정보</h6>
            <p class="card-text">주소: <span th:text="${order.shippingAddress.fullAddress()}"></span></p>
            <p class="card-text">추가 정보: <span th:text="${order.shippingAddress.additionalInfo}"></span></p>

            <!-- 결제수단 정보 -->
            <h6 class="mt-4">결제수단</h6>
            <p class="card-text">결제 방법: <span th:text="${order.paymentMethod}"></span></p>

            <h6 class="mt-4">주문 상품 목록</h6>
            <table class="table">
                <thead>
                <tr>
                    <th>상품 이미지</th>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>가격</th>
                    <th>총 금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${order.orderItems}">
                    <!-- 상품 이미지 출력 -->
                    <td><img th:src="@{'/images/' + ${item.imageUrl}}" alt="상품 이미지" style="width: 100px; height: 100px;"></td>
                    <td th:text="${item.itemName}"></td>
                    <td th:text="${item.count}"></td>
                    <td th:text="${item.orderPrice}"></td>
                    <td th:text="${item.orderPrice * item.count}"></td>
                </tr>
                </tbody>
            </table>

            <!-- 배송지 변경 버튼 -->
            <div th:if="${order.orderStatus == 'PENDING' or order.orderStatus == 'PROCESSED'}">
                <a href="#" th:href="@{/order/updateShippingAddress/{orderId}(orderId=${order.orderId})}" class="btn btn-primary mt-4">배송지 변경</a>
            </div>

            <!-- 환불 및 교환 요청 버튼 -->
            <div th:if="${order.orderStatus == 'DELIVERED'}">
                <a href="#" th:href="@{/order/requestRefundOrExchange/{orderId}(orderId=${order.orderId})}" class="btn btn-secondary mt-4">환불 및 교환 요청</a>
            </div>

        </div>
    </div>
</div>

</body>
</html>